<section id="home" class="row bgGrey nopaddingtop">
	<div class="container">
	<br>
		<div class="visible-lg">
		  <br>
		  <br>
		  <br>
		  <br>
		</div>
		<h1 class="text-center sanspro">
			<span class="light roboto">
				Aplicaciones
			</span>
			Móviles
		</h1>
		<ol class="breadcrumb text-center">
			<li>Apps</li>
			<li>Web</li>
			<li>Software</li>
			<li>Diseño</li>
			<li>Desarrollo</li>
		</ol>
		<div class="visible-lg">
		  <br>
		</div>
		<br>
		<a href="#contact" class="btn btn-grey big whiteborder tocenter link_to ">Contáctanos Ahora</a>
			
	</div>

</section>

<section id="development" class="row bgWhite">
	<div class="container">
		<h1 class="text-center sanspro">{{content.customDesign.title}}</h1>
		<p class="readerp" ng-bind-html="content.customDesign.content.content">
			  {{content.customDesign.content.content}}
		</p>
		<ol class="breadcrumb text-center">
			<li>Planeacion</li>
			<li>UX</li>
			<li>Desarrollo</li>
			<li>Testing</li>
			<li>Entrega</li>
		</ol>
	</div>
</section>

<section id="solutions" class="row bgGrey withBg">
	<div class="container">
		<h1 class="text-center sanspro tlm">{{content.soluciones.content.title}}</h1>
		<p class="readerp" ng-bind-html="content.soluciones.content.content">
			content.soluciones.content.content
		</p>
		<ol class="breadcrumb text-center">
			<li>HTML5</li>
			<li>AngularJS</li>
			<li>NodeJS</li>
			<li>CSS3</li>
			<li>.Net</li>
		</ol>
	</div>
</section>

<section id="worked" class="row bgWhite" style="overflow: hidden;">
	<div class="container">
		<h1 class="text-center sanspro">Como trabajamos</h1>
		<div id="timeline" class="col-md-12">
			<div class="timeline col-md-6">
				<h4 >{{content.step1.content.title  || 'titulo 1'}}</h4>
				<p  ng-bind-html="content.step1.content.content">
					{{content.step1.content.content}} 
				</p>
				<span class="timeline-number">1</span>
			</div>
			<div class="timeline col-md-6">
				<h4 >{{content.step2.content.title  || 'titulo 2'}}</h4>
				<p  ng-bind-html="content.step2.content.content">
					{{content.step2.content.content}} 
				</p>
				<span class="timeline-number">2</span>
			</div>
			<div class="timeline col-md-6">
				<h4 >{{content.step3.content.title  || 'titulo 3'}}</h4>
				<p  ng-bind-html="content.step3.content.content">
					{{content.step3.content.content}} 
				</p>
				<span class="timeline-number">3</span>
			</div>
			<div class="timeline col-md-6">
				<h4 >{{content.step4.content.title  || 'titulo 4'}}</h4>
				<p  ng-bind-html="content.step4.content.content">
					{{content.step4.content.content}} 
				</p>
				<span class="timeline-number">4</span>
			</div>
			<div class="timeline col-md-6">
				<h4 >{{content.step5.content.title  || 'titulo 5'}}</h4>
				<p  ng-bind-html="content.step5.content.content">
					{{content.step5.content.content}} 
				</p>
				<span class="timeline-number">5</span>
			</div>
		</div>
	</div>
</section>

<section id="apps" class="row bgGrey">
	<div class="container">
		<h1 class="text-center sanspro">{{content.apps.content.title}}</h1>
		<div class="col-md-8" style="margin: 0 auto; float: none;">
			<div class="row" ng-bind-html="content.apps.content.content">
				{{content.apps.content.content}}
			</div>
		</div>
	</div>
</section>

<section id="clients" class="row bgWhite">
	<div class="container">
		<h1 class="text-center sanspro">{{content.clientes.content.title}}</h1>
		<div class="col-md-8" style="margin: 0 auto; float: none;">
			<div class="row" ng-bind-html="content.clientes.content.content">
				{{content.clientes.content.content}}
			</div>
		</div>
	</div>
</section>

<section id="contact" class="row bgGrey">
	<div class="container">
		<h1 class="text-center sanspro">Entra en Contacto</h1>
		<div class="col-md-5">
			<h3>Enviar un mensaje</h3>
			<form action="">			     
				<div class="form-group">
				    <label><input ng-model="formContact.name" type="text" class="form-control" placeholder="Nombre"></label>
			  	</div>
			  	<div class="form-group">
				    <label><input ng-model="formContact.email" type="email" class="form-control" placeholder="Email"></label>
			  	</div>
			  	<div class="form-group">
				    <label><input ng-model="formContact.tel" type="tel" class="form-control" placeholder="Telefono"></label>
			  	</div>
			  	<div class="form-group">
				    <label><textarea ng-model="formContact.message" class="form-control" cols="30" rows="3" placeholder="Mensaje"></textarea></label>
			  	</div>
			  	<button type="button" ng-click="sendEmail();" class="btn col-xs-12 btn-grey whiteborder pull-right">Enviar</button>
			</form>
		</div>				
		<div class="col-md-5 info">
			<h3>{{content.contacto.content.title}}</h3>
			<p ng-bind-html="content.contacto.content.content">
			   {{content.contacto.content.content}}
			</p>
			
		</div>
	</div>
	<div id="maps">
		<div class="container text-center">
			<img src="assets/imgs/maps/google-maps-logo.jpg" alt="">
		</div>

	</div>
</section>

<div id="topnav" style="display:none;" onclick="scrollToTop();">
	<img src="assets/imgs/flecha.png" alt="Flecha Arriba">
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Modal title</h4>
			</div>
			<div class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>